@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import "tailwindcss";

/*
@font-face {
  font-family: "Coco Gothic";
  src: url("../assets/font/coco_gothic/CocoGothic_trial.ttf");
  font-weight: 500;
}
  */
:root {
  /*font-family: "Coco Gothic"; */
  font-family: "Nunito", sans-serif;
  --maisRosa: #f16b68;
  --rosado: #da5050;
  --rosadoHover: #f37575;
  --bege: #efebe5;
  --laranjaClaro: #f4f1ed;
}

.navbar {
  overflow: hidden;
  position: sticky;
  top: 0;
  width: 100%;
}

@keyframes escrever {
  0% {
    width: 0ch;
  }
  33% {
    width: 33ch;
  }
  66% {
    width: 33ch;
  }
  90% {
    width: 0ch;
  }
  100% {
    width: 0ch;
  }
}
@keyframes blink {
  50% {
    border-color: gray;
  }
}

.barra-pesquisa {
  & p {
    border-right: 5px solid;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    animation:
      escrever 10s infinite steps(38),
      blink 0.5s infinite alternate step-end;
  }
}
.slide {
  width: 650px;
  height: 330px;

}