@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

/*
@font-face {
  font-family: "Coco Gothic";
  src: url("../assets/font/coco_gothic/CocoGothic_trial.ttf");
  font-weight: 500;
}
  */
:root {
  /*font-family: "Coco Gothic"; */
  font-family: "Inter", sans-serif;
  --maisRosa: #f16b68;
  --rosado: #da5050;
  --rosadoHover: #f37575;
  --bege: #efebe5;
  --laranjaClaro: #f4f1ed;
  scroll-behavior: smooth;
}
.navbar {
  overflow: hidden;
  position: sticky;
  top: 0;
  width: 100%;
}

.fade-image {
  -webkit-mask-image: linear-gradient(to right, transparent 0%, black 20%, black 80%, transparent 100%);
  mask-image: linear-gradient(to right, transparent 0%, black 20%, black 80%, transparent 100%);
}
.blur {
  filter: blur(2px);
  padding: 15px;
}
.slide {
  transition: ease-in-out 300ms
}
