@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";

/*
@font-face {
  font-family: "Coco Gothic";
  src: url("../assets/font/coco_gothic/CocoGothic_trial.ttf");
  font-weight: 500;
}
  */
:root {
  /*font-family: "Coco Gothic"; */
  font-family: "Nunito", sans-serif;
  --maisRosa: #f16b68;
  --rosado: #da5050;
  --rosadoHover: #f37575;
  --bege: #efebe5;
  --laranjaClaro: #f4f1ed;
}
#progCarrosel::-webkit-progress-value {
  background-color: var(--rosado);
  border-radius: 20px;

}
#progCarrosel::-webkit-progress-bar {
  background-color: white;
  border-radius: 20px;
}

#progCarrosel {
  appearance: none;
  border-radius: 20px;
  background-color: white;
}
#progCarrosel::-moz-progress-bar{
  background-color: var(--rosado);
}
.navbar {
  overflow: hidden;
  position: sticky; 
  top: 0; 
  width: 100%; 
}
@keyframes sumida {
  from {opacity: 0;}
  to {opacity: 1;}
}
.animar {
  animation-duration: 3s;
  animation-name: sumida;
  animation-timing-function: ease-in-out;
}